## Decision Tree

In [1]:
import pandas as pd

In [71]:
d = pd.read_excel('C:/Users/Gulfam/Desktop/Data Sci/ML/a.xlsx' , skiprows=3000)

In [72]:
d.shape

(472, 3)

In [73]:
d.head()

   Sweden  2007.0  9148092.0
0  Sweden  2008.0  9219637.0
1  Sweden  2009.0  9298515.0
2  Sweden  2010.0  9378126.0
3  Sweden  2011.0  9449213.0
4  Sweden  2012.0  9519374.0

In [74]:
d.isnull().sum()

Sweden       0
2007.0       0
9148092.0    0
dtype: int64

In [75]:
d = d.dropna()

In [76]:
d.isnull().sum()

Sweden       0
2007.0       0
9148092.0    0
dtype: int64

In [77]:
X = d[['Year','Population Total']]
y = d['Country']

KeyError: "None of [Index(['Year', 'Population Total'], dtype='object')] are in the [columns]"

In [78]:
X.tail()

        Year  Population Total
3467  2011.0        12894316.0
3468  2012.0        13115131.0
3469  2013.0        13350356.0
3470  2014.0        13586681.0
3471  2015.0        13814629.0

In [79]:
y.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [80]:
# ML ALgorithm
from sklearn.tree import DecisionTreeClassifier

In [81]:
# create and fit model
model = DecisionTreeClassifier().fit(X,y)

In [82]:
model.predict([[2002.0,22600770.0]])

C:\Users\Gulfam\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Afghanistan'], dtype=object)

In [83]:
# measurin accuracy of test
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state=1)

In [85]:
# create a model
model = DecisionTreeClassifier().fit(X_train,y_train)
# prediction
predicted_values = model.predict(X_test)
predicted_values

# checking score
# y_test = actual_values
score = accuracy_score(y_test, predicted_values)
score

0.2824207492795389

In [86]:
# saving the model
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)

joblib.dump(model, 'country_prediction.joblib')

['country_prediction.joblib']

In [87]:
#run, import, stored model
model = joblib.load('country_prediction.joblib')

model.predict([[2011.0, 12894316.0]])

C:\Users\Gulfam\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Zimbabwe'], dtype=object)

In [64]:
#graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)

tree.export_graphviz(model , out_file='CP.dot', feature_names= ['Year','Population Total'],
class_names = sorted(y.unique()), label = 'all', rounded = True, filled=True)