## KNN

In [1]:
import pandas as pd

In [2]:
d = pd.read_excel('C:/Users/Gulfam/Desktop/Data Sci/ML/a.xlsx')

In [27]:
d.isnull().sum()

Country             0
Year                0
Population Total    4
dtype: int64

In [28]:
d = d.dropna()

In [29]:
X = d.iloc[:,1:3]

In [30]:
X.head()

     Year  Population Total
0  2000.0        20779953.0
1  2001.0        21606988.0
2  2002.0        22600770.0
3  2003.0        23680871.0
4  2004.0        24726684.0

In [31]:
y = d.iloc[: , :-2]

In [32]:
y.head()

       Country
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
import numpy as np

In [42]:
model = KNeighborsClassifier(n_neighbors=5).fit(X,np.ravel(y, order= 'C'))

In [46]:
x = [[2002.0],[23454326.9]]

In [ ]:
prediction = model.predict([[]])

In [45]:
prediction

array(['Australia', 'Afghanistan', 'Afghanistan', ..., 'Burkina Faso',
       'Ecuador', 'Burkina Faso'], dtype=object)

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, y_train , y_test = train_test_split(X,y , test_size= 0.2)

In [51]:
model = KNeighborsClassifier(n_neighbors=5).fit(X_train, np.ravel(y_train))

In [55]:
predicted_values = model.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score

In [56]:
score = accuracy_score(y_test,predicted_values)

In [57]:
score

0.2564841498559078